* {
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: beige;
}


#all span {
    display: grid;

    margin-top: 2px;
    text-align: flex-start;
}

section a {
    border: solid rgb(137, 14, 137) 2px;
    background-color: rgb(181, 61, 141);
    color:antiquewhite;
    text-align: center;
    font-size: large;
}

section {
    display: grid;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    margin: 20px auto;
    text-align: center;
    background-color: rgb(181, 61, 141);
    color:  antiquewhite ;
}

#home {
    position: absolute;
    width: 50px;
    height: 38px;
    background-color: rgb(181, 61, 141);;
    color:antiquewhite;
    border: solid rgb(143, 37, 143) 2px;
    font-size: medium;
    font-weight: bold;
}